body {
  color: rgb(51, 51, 51);
}
.intro {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-weight: lighter;
}
.intro-name {
  font-weight: lighter;
}
.intro-role {
  font-weight: lighter;
}

.nav {
  text-align: center;
  font-weight: lighter;
  margin-bottom: 4rem;
}
.projects {
  text-align: center;
  margin: 0 auto;
  width: 94rem;

  display: flex;
  flex-wrap: wrap;
  gap: 2rem 2rem;
  box-sizing: border-box;
}

.project {
  width: 30rem;
  height: 20rem;
  background-color: rgb(51, 51, 51);
  color: white;
  border-radius: 10px;
}

.project-name {
  font-weight: lighter;
  font-style: italic;
  font-size: 1.5rem;
}

.project-img {
  width: 12rem;
  height: 8rem;
}

.project-shortdesc {
  font-size: 1rem;
  height: 3rem;
  font-weight: 300;
}

.project-details-btn {
  width: 10rem;
  border: 1px solid gray;
  border-radius: 7px;
  background-color: rgb(51, 51, 51);
  color: white;
  cursor: pointer;
}
